<div class="titulo">
  <h1>🧬 Simulador de Laboratorio QBP</h1>
  <p>Selecciona una muestra para comenzar el análisis</p>
</div>

<div class="contenedor">

<div class="tarjeta sangre">
<h2>🩸 Sangre</h2>
<p>Muestra hematológica</p>
<button (click)="seleccionarMuestra('sangre')">
Seleccionar
</button>
</div>

<div class="tarjeta orina">
<h2>🧪 Orina</h2>
<p>Análisis urinario</p>
<button (click)="seleccionarMuestra('orina')">
Seleccionar
</button>
</div>

<div class="tarjeta saliva">
<h2>🧫 Saliva</h2>
<p>Estudio microbiológico</p>
<button (click)="seleccionarMuestra('saliva')">
Seleccionar
</button>
</div>

<div class="tarjeta tejido">
<h2>🔬 Tejido</h2>
<p>Análisis histológico</p>
<button (click)="seleccionarMuestra('tejido')">
Seleccionar
</button>
</div>

</div>



<div *ngIf="muestraSeleccionada" class="formulario">

<div class="subtitulo">
<h2>📋 Información del paciente</h2>
</div>

<label>👤 Nombre del paciente</label>
<input
type="text"
placeholder="Ej: Juan Pérez"
[(ngModel)]="paciente">

<label>🎂 Edad</label>
<input
type="number"
placeholder="Ej: 25"
[(ngModel)]="edad">

<label>📅 Fecha del análisis</label>
<input
type="date"
[(ngModel)]="fecha">

<label>📝 Observaciones</label>
<textarea
placeholder="Escribe observaciones"
[(ngModel)]="observaciones">
</textarea>



<div class="subtitulo">

<h2>🔬 Datos de análisis</h2>

</div>


<div *ngIf="muestraSeleccionada==='sangre'">

<label>Hemoglobina (12–16)</label>
<input type="number"
[(ngModel)]="hemoglobina">

<label>Glóbulos blancos (4000–11000)</label>
<input type="number"
[(ngModel)]="globulos">

<label>Glucosa (70–100)</label>
<input type="number"
[(ngModel)]="glucosa">

</div>



<div *ngIf="muestraSeleccionada==='orina'">

<label>pH (4.5–8)</label>
<input type="number"
[(ngModel)]="ph">

<label>Proteínas (0–30)</label>
<input type="number"
[(ngModel)]="proteinas">

</div>



<div *ngIf="muestraSeleccionada==='saliva'">

<label>pH salival (6–7)</label>
<input type="number"
[(ngModel)]="phSaliva">

<label>Amilasa</label>
<input type="number"
[(ngModel)]="amilasa">

</div>



<div *ngIf="muestraSeleccionada==='tejido'">

<label>Número células</label>
<input type="number"
[(ngModel)]="celulas">

<label>Inflamación (0–10)</label>
<input type="number"
[(ngModel)]="inflamacion">

</div>

<button (click)="analizar()">

🔍 Analizar Muestra

</button>

</div>



<div
class="panel-resultado"
*ngIf="resultado">

<h2>📊 Resultado del análisis</h2>

<div class="resultado-box">

<p><strong>Paciente:</strong>
{{paciente}}</p>

<p><strong>Edad:</strong>
{{edad}}</p>

<p><strong>Fecha:</strong>
{{fecha}}</p>

<hr>

<p>{{resultado}}</p>

</div>

</div>